<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!--
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.m2e.wtp.internal.preferences.MavenWtpPreferenceInitializer"/>
   </extension>
  -->
   <extension point="org.eclipse.ui.preferencePages">
      <page id="org.eclipse.m2e.apt.ui.preferences.AnnotationProcessingPreferencePage"
         category="org.eclipse.m2e.core.preferences.Maven2PreferencePage"
         class="org.eclipse.m2e.apt.ui.preferences.AnnotationProcessingSettingsPage"
         name="Annotation Processing">
         <keywordReference id="org.eclipse.m2e.core.maven"/>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      
      <page id="org.eclipse.m2e.apt.ui.propertyPages.AnnotationProcessingPropertyPage"
            class="org.eclipse.m2e.apt.ui.preferences.AnnotationProcessingSettingsPage"
            name="Annotation Processing"
            category="org.eclipse.m2e.core.MavenProjectPreferencePage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		         <and>
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.m2e.core.maven2Nature"/>         
		         </and>
		     </adapt>         
         </enabledWhen>
	  </page>
   </extension>


   <extension point="org.eclipse.ui.editors.templates">
    <template id="org.eclipse.m2e.apt.ui.xml.templates.jpaActivationProperty"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.properties"
         name="%template.m2eAptActivationProperty.name" 
         description="%template.m2eAptActivationProperty.description">
      <pattern>&lt;m2e.apt.activation&gt;${cursor}${jdt_apt}&lt;/m2e.apt.activation&gt;</pattern>
    </template>
   </extension> 
   
   <extension
        point="org.eclipse.wst.sse.ui.completionProposal">
     <proposalComputer
           activate="true"
           categoryId="org.eclipse.m2e.editor.xml.proposals"
           class="org.eclipse.m2e.apt.internal.ui.xml.AnnotationProcessingModeCompletionProposalComputer"
           id="org.eclipse.m2e.apt.mode.xml.proposals">
        <contentType
              id="org.eclipse.m2e.core.pomFile">
        </contentType>
     </proposalComputer>
  </extension>
      
</plugin>
