--show-version
--errors
--update-snapshots
--no-transfer-progress
--fail-at-end
-Dtycho.localArtifacts=ignore
-Dtycho.target.pomDependencies=consider
-Dtycho-version=5.0.4
# Workaround to make the stricter validation in Maven 3.10 more tolerant until Tycho is adapted
-Dmaven.resolver.validation=MILD
