<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="simple-target">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://download.eclipse.org/eclipse/updates/4.25/"/>
			<unit id="org.eclipse.osgi" version="0.0.0"/>
			<unit id="org.eclipse.equinox.launcher" version="0.0.0"/>
			<unit id="org.eclipse.core.runtime" version="0.0.0"/>
			<unit id="org.junit" version="0.0.0"/>
		</location>
	</locations>
</target>