<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
		<connectorCategory description="%category.description.lifecycles" id="org.eclipse.m2e.discovery.category.lifecycles" name="%category.name.lifecycles" relevance="30">
  			<icon image48="images/extras-48.png" /> 
         <group id="lifecycles">
         </group>
  		</connectorCategory>
   </extension>
   
   <extension point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
      <connectorDescriptor
            categoryId="org.eclipse.m2e.discovery.category.lifecycles"
            description="%configuratorDescriptor.tycho.description"
            groupId="lifecycles"
            id="org.eclipse.m2e.discovery.lifecycles.tycho"
            kind="lifecycles"
            license="%configuratorDescriptor.tycho.license"
            name="%configuratorDescriptor.tycho.name"
            provider="%configuratorDescriptor.tycho.provider"
            siteUrl="https://repository.sonatype.org/content/repositories/forge-sites/m2eclipse-tycho/0.5.0/N/0.5.0.201102260728">
        <iu id="org.sonatype.tycho.m2e.feature.feature.group"/>
         <overview
               summary="%configuratorDescriptor.tycho.overview-summary"
               url="http://eclipse.org/tycho/">
         </overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.eclipse.m2e.discovery.category.lifecycles"
            description="%configuratorDescriptor.plexus-annotations.description"
            groupId="lifecycles"
            id="org.eclipse.m2e.discovery.lifecyclemapping.plexus-annotations"
            kind="lifecycles"
            license="%configuratorDescriptor.plexus-annotations.license"
            name="%configuratorDescriptor.plexus-annotations.name"
            provider="%configuratorDescriptor.plexus-annotations.provider"
            siteUrl="https://repository.sonatype.org/content/repositories/forge-sites/m2e-extras/0.13.0/N/0.13.0.201102260646/">
        <iu id="org.sonatype.m2e.plexus.annotations"/>
         <overview
               summary="%configuratorDescriptor.plexus-annotations.overview-summary"
               url="http://eclipse.org/tycho/">
         </overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.eclipse.m2e.discovery.category.lifecycles"
            description="%configuratorDescriptor.temporary-mojos.description"
            groupId="lifecycles"
            id="org.eclipse.m2e.discovery.lifecyclemapping.temporary-mojos"
            kind="lifecycles"
            license="%configuratorDescriptor.temporary-mojos.license"
            name="%configuratorDescriptor.temporary-mojos.name"
            provider="%configuratorDescriptor.temporary-mojos.provider"
            siteUrl="https://repository.sonatype.org/content/repositories/forge-sites/m2e-extras/0.13.0/N/0.13.0.201102260646/">
        <iu id="org.sonatype.m2e.temporary.mojos"/>
         <overview
               summary="%configuratorDescriptor.temporary-mojos.overview-summary"
               url="http://eclipse.org/tycho/">
         </overview>
      </connectorDescriptor>

   </extension>
</plugin>
