<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2011 Knowledge Computing Corp.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
-->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.jboss.tools.maven.apt.internal.MavenCompilerAptProjectConfigurator"
            id="org.jboss.tools.maven.apt.MavenCompilerAptProjectConfigurator"
            name="%configurator.compiler.name"
            secondaryTo="org.eclipse.m2e.jdt.javaConfigurator">
      </configurator>
      
      <configurator
            class="org.jboss.tools.maven.apt.internal.MavenProcessorAptProjectConfigurator"
            id="org.jboss.tools.maven.apt.MavenProcessorAptProjectConfigurator"
            name="%configurator.processor.name"
            >
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jboss.tools.maven.apt.internal.preferences.AnnotationProcessingPreferenceInitializer"/>
   </extension>   
</plugin>
