<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension
          point="org.eclipse.pde.ui.targetLocationProvisioners">
       <locationProvider
             class="org.eclipse.m2e.pde.ui.target.editor.MavenTargetLocationWizard"
             icon="icons/m2.gif"
             id="org.eclipse.m2e.pde.ui.editor.MavenTargetLocationWizard"
             name="Maven">
             <description>
	            Add a maven artifact (and dependencies) to your target platform
	         </description>
       </locationProvider>
       
    </extension>
    <extension
          point="org.eclipse.core.runtime.adapters">
       <factory
             adaptableType="org.eclipse.m2e.pde.target.MavenTargetLocation"
             class="org.eclipse.m2e.pde.ui.target.adapter.MavenTargetAdapterFactory">
          <adapter
                type="org.eclipse.jface.viewers.ILabelProvider">
          </adapter>
          <adapter
                type="org.eclipse.jface.viewers.ITreeContentProvider">
          </adapter>
          <adapter
                type="org.eclipse.pde.ui.target.ITargetLocationHandler">
          </adapter>
       </factory>
    </extension>
    <extension
          point="org.eclipse.core.runtime.adapters">
       <factory
             adaptableType="org.eclipse.m2e.pde.target.MavenTargetBundle"
             class="org.eclipse.m2e.pde.ui.target.adapter.MavenTargetBundleAdapterFactory">
          <adapter
                type="org.eclipse.jface.viewers.ILabelProvider">
          </adapter>
       </factory>
    </extension>
    <extension
          point="org.eclipse.core.runtime.adapters">
       <factory
             adaptableType="org.eclipse.aether.graph.DependencyNode"
             class="org.eclipse.m2e.pde.ui.target.adapter.DependencyNodeAdapterFactory">
          <adapter
                type="org.eclipse.jface.viewers.ITreeContentProvider">
          </adapter>
          <adapter
                type="org.eclipse.jface.viewers.ILabelProvider">
          </adapter>
          <adapter
                type="org.eclipse.pde.ui.target.ITargetLocationHandler">
          </adapter>
       </factory>
    </extension>
    <extension
          point="org.eclipse.core.runtime.adapters">
       <factory
             adaptableType="org.eclipse.m2e.pde.target.MavenTargetDependency"
             class="org.eclipse.m2e.pde.ui.target.adapter.MavenTargetDependencyAdapterFactory">
          <adapter
                type="org.eclipse.jface.viewers.ILabelProvider">
          </adapter>
          <adapter
                type="org.eclipse.jface.viewers.ITreeContentProvider">
          </adapter>
          <adapter
                type="org.eclipse.pde.ui.target.ITargetLocationHandler">
          </adapter>
       </factory>
    </extension>
</plugin>
