<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
          point="org.eclipse.pde.core.targetLocations">
       <targetLocation
             canUpdate="true"
             locationFactory="org.eclipse.m2e.pde.target.MavenTargetLocationFactory"
             type="Maven">
       </targetLocation>
    </extension>
    <extension
          point="org.eclipse.pde.core.dynamicSource">
       <locator
             class="org.eclipse.m2e.pde.target.MavenPluginSourcePathLocator"
             complexity="high">
       </locator>
    </extension>
</plugin>
