<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2007, 2013 Sonatype, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/

  SPDX-License-Identifier: EPL-2.0
-->
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="indexes" name="%extension-point.indexes.name" schema="schema/indexes.exsd"/>
   <extension-point id="archetypeCatalogs" name="%extension-point.archetypes.name" schema="schema/archetypes.exsd"/>
   <extension-point id="projectConfigurators" name="%extension-point.configurators.name" schema="schema/projectConfigurators.exsd"/>
   <extension-point id="lifecycleMappings" name="%extension-point.lifecyclemappings.name" schema="schema/lifecycleMappings.exsd"/>
   <extension-point id="mavenComponentContributors" name="%extension-point.component.name" schema="schema/mavenComponentContributors.exsd"/>
   <extension-point id="mavenProjectChangedListeners" name="%extension-point.changed.name" schema="schema/mavenProjectChangedListeners.exsd"/>
   <extension-point id="lifecycleMappingMetadataSource" name="%extension-point.lifecycleMappingMetadataSource.name" schema="schema/lifecycleMappingMetadataSource.exsd"/>
   <extension-point id="artifactFilters" name="%extension-point.artifactFilters-name" schema="schema/artifactFilters.exsd"/>
   <extension-point id="projectConversionParticipants" name="%extension-point.projectConversionParticipants.name" schema="schema/projectConversionParticipants.exsd"/>
   <extension-point id="conversionEnabler" name="%extension-point.conversionEnabler.name" schema="schema/conversionEnabler.exsd"/>
   <extension-point id="incrementalBuildFrameworks" name="%extension-point.incrementalBuildFrameworks.name" schema="schema/incrementalBuildFrameworks.exsd"/>
   <extension-point id="workspaceClassifierResolvers" name="%extension-point.workspaceClassifierResolvers.name" schema="schema/workspaceClassifierResolvers.exsd"/>

   <extension point="org.eclipse.core.runtime.contentTypes">
     <content-type id="pomFile" name="%content-type.name"
          base-type="org.eclipse.core.runtime.xml"
          priority="high"
          default-charset="UTF-8"
          file-names="pom.xml"
          file-extensions="pom">
       <describer class="org.eclipse.m2e.core.internal.content.PomFileContentDescriber"/>
     </content-type>
   </extension>

   <extension point="org.eclipse.core.resources.builders"
              id="maven2Builder"
              name="%m2.builder.name">
      <builder hasNature="true" isConfigurable="false">
         <run class="org.eclipse.m2e.core.internal.builder.MavenBuilder"/>
      </builder>
   </extension>
   <extension point="org.eclipse.core.resources.natures"
         id="maven2Nature"
         name="%m2.nature.name">
      <runtime>
         <run class="org.eclipse.m2e.core.internal.builder.MavenNature"/>
      </runtime>
      <builder id="org.eclipse.m2e.core.maven2Builder"/>
   </extension>

  <extension point="org.eclipse.core.runtime.adapters">
    <factory adaptableType="org.eclipse.core.resources.IResource"
             class="org.eclipse.m2e.core.internal.project.ArtifactKeyAdapterFactory">
       <adapter type="org.eclipse.m2e.core.embedder.ArtifactKey"/>
    </factory>
  </extension>

	<!-- Changes to marker IDs, or additions also need to be 
	     changed in org.eclipse.m2e.core.ui/plugin.xml -->
   <extension point="org.eclipse.core.resources.markers"
         id="maven2Problem"
         name="%m2.marker.problem.name">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension point="org.eclipse.core.resources.markers"
         id="maven2Problem.configuration"
         name="%m2.marker.problem.configuration.name">
      <super type="org.eclipse.m2e.core.maven2Problem"/>
      <persistent value="true"/>
   </extension>
   <extension point="org.eclipse.core.resources.markers"
         id="maven2Problem.pomloading"
         name="%m2.marker.problem.pomloading.name">
      <super type="org.eclipse.m2e.core.maven2Problem"/>
      <persistent value="true"/>
   </extension>
   <extension point="org.eclipse.core.resources.markers"
         id="maven2Problem.dependency"
         name="%m2.marker.problem.dependency.name">
      <super type="org.eclipse.m2e.core.maven2Problem"/>
      <persistent value="true"/>
   </extension>
   <extension point="org.eclipse.core.resources.markers"
         id="maven2Problem.build"
         name="%m2.marker.problem.build.name">
      <super type="org.eclipse.m2e.core.maven2Problem"/>
      <persistent value="true"/>
   </extension>
   <extension point="org.eclipse.core.resources.markers"
         id="maven2Problem.build.participant"
         name="%m2.marker.problem.build.participant.name">
      <super type="org.eclipse.m2e.core.maven2Problem.build"/>
      <persistent value="true"/>
   </extension>
   <extension point="org.eclipse.core.resources.markers"
         id="maven2Problem.lifecycleMapping"
         name="%m2.marker.problem.lifecycleMapping.name">
      <super type="org.eclipse.m2e.core.maven2Problem"/>
      <persistent value="true"/>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.m2e.core.internal.preferences.MavenPreferenceInitializer"/>
   </extension>

   <extension
         point="org.eclipse.m2e.core.lifecycleMappings">
      <lifecycleMapping
            class="org.eclipse.m2e.core.project.configurator.NoopLifecycleMapping"
            id="NULL"
            name="%lifecycleMapping.empty.name">
      </lifecycleMapping>
      <lifecycleMapping
            class="org.eclipse.m2e.core.internal.lifecyclemapping.DefaultLifecycleMapping"
            id="DEFAULT"
            name="%lifecycleMapping.default.name">
      </lifecycleMapping>
   </extension>
   <extension
         point="org.eclipse.m2e.core.mavenComponentContributors">
      <configurator
            class="org.eclipse.m2e.core.internal.embedder.DefaultMavenComponentContributor">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.workspaceClassifierResolvers">
      <resolver
            class="org.eclipse.m2e.core.internal.project.WorkspaceDefaultClassifierResolver">
      </resolver>
      <resolver
            class="org.eclipse.m2e.core.internal.project.WorkspaceTestsClassifierResolver">
      </resolver>
   </extension>
   
</plugin>
