<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2008 Sonatype, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/

  SPDX-License-Identifier: EPL-2.0
-->
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package uri="http://maven.apache.org/POM/4.0.0"
             class="org.eclipse.m2e.model.edit.pom.PomPackage"
             genModel="src-xsd/org/eclipse/m2e/model/pom/pom.genmodel"/>
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser type="pom"
            class="org.eclipse.m2e.model.edit.pom.util.PomResourceFactoryImpl"/>
  </extension>
  
  <extension point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution>
      <system systemId="http://maven.apache.org/maven-v4_0_0.xsd"
              uri="xsd/maven-4.0.0.xsd"/>
      <system systemId="http://maven.apache.org/xsd/maven-4.0.0.xsd"
              uri="xsd/maven-4.0.0.xsd"/>
      <system systemId="http://maven.apache.org/xsd/settings-1.0.0.xsd"
              uri="xsd/settings-1.0.0.xsd"/>
      <system systemId="http://maven.apache.org/xsd/settings-1.1.0.xsd"
              uri="xsd/settings-1.1.0.xsd"/>
      <system systemId="http://maven.apache.org/xsd/settings-1.2.0.xsd"
              uri="xsd/settings-1.2.0.xsd"/>
      <system systemId="http://maven.apache.org/xsd/toolchains-1.0.0.xsd"
              uri="xsd/toolchains-1.0.0.xsd"/>
      <system systemId="http://maven.apache.org/xsd/toolchains-1.1.0.xsd"
              uri="xsd/toolchains-1.1.0.xsd"/>
      <system systemId="http://maven.apache.org/xsd/profiles-1.0.0.xsd"
              uri="xsd/profiles-1.0.0.xsd"/>
      <system systemId="http://maven.apache.org/xsd/archetype-1.0.0.xsd"
              uri="xsd/archetype-1.0.0.xsd"/>
      <system systemId="http://maven.apache.org/xsd/archetype-catalog-1.0.0.xsd"
              uri="xsd/archetype-catalog-1.0.0.xsd"/>
      <system systemId="http://maven.apache.org/xsd/archetype-descriptor-1.0.0.xsd"
              uri="xsd/archetype-descriptor-1.0.0.xsd"/>
    </catalogContribution>
  </extension>

  <extension
        point="org.eclipse.wst.sse.core.modelHandler">
     <modelHandler
           associatedContentTypeId="org.eclipse.m2e.core.pomFile"
           class="org.eclipse.m2e.model.edit.pom.PomModelHandler"
           id="org.eclipse.m2e.core.pomFile.handler">
     </modelHandler>
  </extension>

</plugin>
