<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Maven Profile Selection-->
    <extension
          point="org.eclipse.ui.commands">
       <command
             categoryId="org.eclipse.ui.category.window"
             id="org.eclipse.m2e.profiles.ui.commands.selectMavenProfileCommand"
             name="%Select_Maven_Profiles_Cmd">
       </command>
    </extension>
    
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.eclipse.m2e.profiles.ui.internal.actions.ProfileSelectionHandler"
             commandId="org.eclipse.m2e.profiles.ui.commands.selectMavenProfileCommand">
       </handler>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.eclipse.m2e.profiles.ui.commands.selectMavenProfileCommand"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="Ctrl+Alt+P">
       </key>
    </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
        <objectContribution id="org.eclipse.m2e.profiles.ui.profiles.selectFromProject"
                          objectClass="org.eclipse.core.resources.IProject"
                          adaptable="true">
         <action id="org.eclipse.m2e.profiles.ui.commands.selectMavenProfileAction"
                 class="org.eclipse.m2e.profiles.ui.internal.actions.GenericCommandActionDelegate:org.eclipse.m2e.profiles.ui.commands.selectMavenProfileCommand"
                 label="%Select_Maven_Profiles_Menu"
                 style="push"
                 definitionId="org.eclipse.m2e.profiles.ui.commands.selectMavenProfileCommand"
                 menubarPath="org.eclipse.m2e.core.mavenMenu/open"
                 enablesFor="+"/>
         <visibility>
           <and>
             <objectState name="open" value="true"/>
             <objectState name="nature" value="org.eclipse.m2e.core.maven2Nature"/>
           </and>
         </visibility>
      </objectContribution>
      
       <objectContribution id="org.eclipse.m2e.profiles.ui.profiles.selectFromPom"
                          objectClass="org.eclipse.core.resources.IFile"
                          adaptable="true">
         <action id="org.eclipse.m2e.profiles.ui.commands.selectMavenProfileAction"
                 class="org.eclipse.m2e.profiles.ui.internal.actions.GenericCommandActionDelegate:org.eclipse.m2e.profiles.ui.commands.selectMavenProfileCommand"
                 label="%Select_Maven_Profiles_Menu"
                 style="push"
                 definitionId="org.eclipse.m2e.profiles.ui.commands.selectMavenProfileCommand"
                 menubarPath="org.eclipse.m2e.core.fileMenu/open"
                 enablesFor="+"/>
         <visibility>
            <objectState name="name" value="pom.xml"/>
         </visibility>
      </objectContribution>
      
      <objectContribution id="org.eclipse.m2e.profiles.ui.profiles.selectFromWorkingSet"
      	     adaptable="true"
             objectClass="org.eclipse.ui.IWorkingSet">
         <action id="org.eclipse.m2e.profiles.ui.commands.selectMavenProfileAction"
                 class="org.eclipse.m2e.profiles.ui.internal.actions.GenericCommandActionDelegate:org.eclipse.m2e.profiles.ui.commands.selectMavenProfileCommand"
                 label="%Select_Maven_Profiles_Menu"
                 style="push"
                 definitionId="org.eclipse.m2e.profiles.ui.commands.selectMavenProfileCommand"
                 menubarPath="org.eclipse.m2e.core.workingSetMenu/open"
                 enablesFor="+"/>
      </objectContribution>      
  </extension> 

</plugin>
