<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappings">
      <lifecycleMapping
            class="org.eclipse.m2e.binaryproject.internal.BinaryProjectLifecycleMapping"
            id="org.eclipse.m2e.binaryproject"
            name="Maven Binary Project">
      </lifecycleMapping>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.workspaceProjectDescribers">
      <describer
            class="org.eclipse.m2e.binaryproject.internal.sourcelookup.BinaryProjectDescriber">
      </describer>
   </extension>

</plugin>
