<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension-point id="mojoParameterMetadata" name="%extension-point.mojoParameterMetadata.name" schema="schema/mojoParameterMetadata.exsd"/>

  <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
    <sourceViewerConfiguration
        class="org.eclipse.m2e.editor.xml.PomStructuredTextViewConfiguration"
        target="org.eclipse.m2e.core.pomFile"/>
    <contentOutlineConfiguration
        class="org.eclipse.m2e.editor.xml.PomContentOutlineConfiguration"
        target="org.eclipse.m2e.core.pomFile"/>
    <provisionalConfiguration
        type="org.eclipse.jface.text.quickassist.IQuickAssistProcessor"
        class="org.eclipse.m2e.editor.xml.PomQuickAssistProcessor"
        target="org.eclipse.m2e.core.pomFile"/>
  </extension>
  <extension point="org.eclipse.wst.sse.core.modelHandler">
   	<modelHandler
          associatedContentTypeId="org.eclipse.m2e.core.pomFile"
          class="org.eclipse.m2e.editor.xml.PomModelHandler"
          id="org.eclipse.m2e.core.pomFile.handler">
   	</modelHandler>
   </extension>
	<extension
		point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="org.eclipse.m2e.editor.xml.internal.markers.MavenMarkerResolutionGenerator"
			markerType="org.eclipse.m2e.core.maven2Problem.pomloading">
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.eclipse.m2e.editor.xml.internal.markers.MavenMarkerResolutionGenerator"
			markerType="org.eclipse.m2e.core.maven2Problem.lifecycleMapping">
		</markerResolutionGenerator>
	</extension>
	<extension
		point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory
			contentTypeId="org.eclipse.m2e.core.pomFile"
			class="org.eclipse.m2e.editor.xml.internal.POMMarkerAnnotationModelFactory" />
	</extension>
  <extension  point="org.eclipse.ui.editors.templates">
    <contextType name="%contextType.document"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.#document"/>

    <contextType name="%contextType.project"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.project"/>

    <contextType name="%contextType.parent"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.parent"/>

    <contextType name="%contextType.properties"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.properties"/>

    <contextType name="%contextType.properties2"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.properties"/>

    <contextType name="%contextType.dependencies"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.dependencies"/>

    <contextType name="%contextType.exclusions"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.exclusions"/>

    <contextType name="%contextType.plugins"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.plugins"/>

    <contextType name="%contextType.plugin"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.plugin"/>

    <contextType name="%contextType.configuration"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.configuration"/>

    <contextType name="%contextType.executions"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.executions"/>

    <contextType name="%contextType.execution"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.execution"/>

    <contextType name="%contextType.profiles"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.profiles"/>

    <contextType name="%contextType.repositories"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.repositories"/>

    <contextType name="%contextType.groupid"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.groupId"/>

    <contextType name="%contextType.artifactid"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.artifactId"/>

    <contextType name="%contextType.version"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.version"/>

    <contextType name="%contextType.classifier"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.classifier"/>

    <contextType name="%contextType.type"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.type"/>

    <contextType name="%contextType.systemPath"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.systemPath"/>

    <contextType name="%contextType.packaging"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.packaging"/>

    <contextType name="%contextType.scope"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.scope"/>

    <contextType name="%contextType.phase"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.phase"/>

    <contextType name="%contextType.goal"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.goal"/>

    <contextType name="%contextType.modules"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.modules"/>

    <contextType name="%contextType.module"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.module"/>

    <contextType name="%contextType.file"
      class="org.eclipse.m2e.editor.xml.PomTemplateContextType"
      id="org.eclipse.m2e.editor.xml.templates.contextType.file"/>

    <template id="org.eclipse.m2e.editor.xml.templates.project.skeleton"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.#document"
         name="%template.project.name"
         description="%template.project.description">
      <pattern>&lt;project xmlns=&quot;http://maven.apache.org/POM/4.0.0&quot;
    xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;
    xsi:schemaLocation=&quot;http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd&quot;&gt;
  &lt;modelVersion&gt;4.0.0&lt;/modelVersion&gt;</pattern>
    </template>

    <template id="org.eclipse.m2e.editor.xml.templates.property.skeleton"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.properties"
         name="%template.property.name"
         description="%template.property.description">
      <pattern>&lt;${cursor}${name}&gt;${value}&lt;/${name}&gt;</pattern>
    </template>
    <template id="org.eclipse.m2e.editor.xml.templates.property.encoding"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.properties"
         name="%template.encoding.name"
         description="%template.encoding.description">
      <pattern>&lt;project.build.sourceEncoding&gt;${encoding}&lt;/project.build.sourceEncoding&gt;</pattern>
    </template>

    <template id="org.eclipse.m2e.editor.xml.templates.exclusion.skeleton"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.exclusions"
         name="%template.exclusion.name"
         description="%template.exclusion.description">
      <pattern>&lt;exclusion&gt;
          &lt;groupId&gt;${cursor}&lt;/groupId&gt;
          &lt;artifactId&gt;&lt;/artifactId&gt;
        &lt;/exclusion&gt;</pattern>
    </template>


    <template id="org.eclipse.m2e.editor.xml.templates.plugin.javac"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.plugins"
         name="%template.compiler.name"
         description="%template.compiler.description">
      <pattern>&lt;plugin&gt;
        &lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
        &lt;artifactId&gt;maven-compiler-plugin&lt;/artifactId&gt;
        &lt;version&gt;3.7.0&lt;/version&gt;
        &lt;configuration&gt;
          &lt;!-- http://maven.apache.org/plugins/maven-compiler-plugin/ --&gt;
          &lt;source&gt;${cursor}1.8&lt;/source&gt;
          &lt;target&gt;1.8&lt;/target&gt;
        &lt;/configuration&gt;
      &lt;/plugin&gt;</pattern>
    </template>

    <template id="org.eclipse.m2e.editor.xml.templates.plugin.aspectj"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.plugins"
         name="%template.aspectj.name"
         description="%template.aspectj.description">
      <pattern>&lt;plugin&gt;
         &lt;groupId&gt;org.codehaus.mojo&lt;/groupId&gt;
         &lt;artifactId&gt;aspectj-maven-plugin&lt;/artifactId&gt;
        &lt;version&gt;1.10&lt;/version&gt;
         &lt;!-- http://mojo.codehaus.org/aspectj-maven-plugin/ --&gt;
         &lt;executions&gt;
           &lt;execution&gt;
             &lt;goals&gt;
                &lt;goal&gt;compile&lt;/goal&gt;
             &lt;/goals&gt;
          &lt;/execution&gt;
        &lt;/executions&gt;
      &lt;/plugin&gt;</pattern>
    </template>

    <template id="org.eclipse.m2e.editor.xml.templates.plugin.war"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.plugins"
         name="%template.war.name"
         description="%template.war.description">
      <pattern>&lt;plugin&gt;
        &lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
        &lt;artifactId&gt;maven-war-plugin&lt;/artifactId&gt;
        &lt;version&gt;3.2.0&lt;/version&gt;
      &lt;/plugin&gt;</pattern>
    </template>

    <template id="org.eclipse.m2e.editor.xml.templates.plugin.ejb"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.plugins"
         name="%template.ejb.name"
         description="%template.ejb.description">
      <pattern>&lt;plugin&gt;
        &lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
        &lt;artifactId&gt;maven-ejb-plugin&lt;/artifactId&gt;
        &lt;version&gt;3.0.0&lt;/version&gt;
      &lt;/plugin&gt;</pattern>
    </template>

    <template id="org.eclipse.m2e.editor.xml.templates.plugin.ear"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.plugins"
         name="%template.ear.name"
         description="%template.ear.description">
      <pattern>&lt;plugin&gt;
        &lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
        &lt;artifactId&gt;maven-ear-plugin&lt;/artifactId&gt;
        &lt;version&gt;2.10.1&lt;/version&gt;
        &lt;configuration&gt;
          &lt;!-- http://maven.apache.org/plugins/maven-ear-plugin/ --&gt;
          &lt;version&gt;6${cursor}&lt;/version&gt;
          &lt;defaultLibBundleDir&gt;lib&lt;/defaultLibBundleDir&gt;
        &lt;/configuration&gt;
      &lt;/plugin&gt;</pattern>
    </template>

    <template id="org.eclipse.m2e.editor.xml.templates.plugin.jetty"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.plugins"
         name="%template.jetty.name"
         description="%template.jetty.description">
      <pattern>&lt;plugin&gt;
        &lt;groupId&gt;org.eclipse.jetty&lt;/groupId&gt;
        &lt;artifactId&gt;jetty-maven-plugin&lt;/artifactId&gt;
        &lt;version&gt;${cursor}9.4.8.v20171121&lt;/version&gt;
        &lt;configuration&gt;
          &lt;!-- http://www.eclipse.org/jetty/documentation/current/jetty-maven-plugin.html --&gt;
          &lt;scanIntervalSeconds&gt;3&lt;/scanIntervalSeconds&gt;
          &lt;!--  By Default, jetty start on port 8080
          &lt;httpConnector&gt;
              &lt;port&gt;9090&lt;/port&gt;
          &lt;/httpConnector&gt;
          --&gt;
        &lt;/configuration&gt;
      &lt;/plugin&gt;</pattern>
    </template>

    <template id="org.eclipse.m2e.editor.xml.templates.repository.skeleton"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.repositories"
         name="%template.repository.name"
         description="%template.repository.description">
      <pattern>&lt;repository&gt;
        &lt;id&gt;${cursor}&lt;/id&gt;
        &lt;url&gt;&lt;/url&gt;
        &lt;releases&gt;
           &lt;enabled&gt;true&lt;/enabled&gt;
        &lt;/releases&gt;
        &lt;snapshots&gt;
          &lt;enabled&gt;false&lt;/enabled&gt;
        &lt;/snapshots&gt;
     &lt;/repository&gt;</pattern>
    </template>

    <template id="org.eclipse.m2e.editor.xml.templates.execution.skeleton"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.executions"
         name="%template.execution.name"
         description="%template.execution.description">
      <pattern>&lt;execution&gt;
            &lt;id&gt;${cursor}&lt;/id&gt;
            &lt;phase&gt;${verify}&lt;/phase&gt;
            &lt;goals&gt;
              &lt;goal&gt;${run}&lt;/goal&gt;
            &lt;/goals&gt;
            &lt;inherited&gt;${false}&lt;/inherited&gt;
            &lt;configuration&gt;
            &lt;/configuration&gt;
          &lt;/execution&gt;</pattern>
    </template>

    <template id="org.eclipse.m2e.editor.xml.templates.profile.skeleton"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.profiles"
         name="%template.profile.name"
         description="%template.profile.description">
      <pattern>&lt;profile&gt;
      &lt;id&gt;${cursor}${test}&lt;/id&gt;
      &lt;activation&gt;
      &lt;/activation&gt;
    &lt;/profile&gt;</pattern>
    </template>

    <template id="org.eclipse.m2e.editor.xml.templates.profile.tools.jar"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.profiles"
         name="%template.tools.name"
         description="%template.tools.description">
      <pattern>&lt;profile&gt;
      &lt;id&gt;tools.jar&lt;/id&gt;
      &lt;activation&gt;
        &lt;property&gt;
          &lt;name&gt;java.vendor&lt;/name&gt;
          &lt;value&gt;Sun Microsystems Inc.&lt;/value&gt;
       &lt;/property&gt;
     &lt;/activation&gt;
      &lt;dependencies&gt;
        &lt;dependency&gt;
          &lt;groupId&gt;com.sun&lt;/groupId&gt;
          &lt;artifactId&gt;tools&lt;/artifactId&gt;
          &lt;version&gt;1.4.2&lt;/version&gt;
          &lt;scope&gt;system&lt;/scope&gt;
          &lt;systemPath&gt;$${java.home}/../lib/tools.jar&lt;/systemPath&gt;
       &lt;/dependency&gt;
     &lt;/dependencies&gt;
   &lt;/profile&gt;</pattern>
    </template>

    <template id="org.eclipse.m2e.editor.xml.templates.profile.m2e"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.profiles"
         name="%template.m2e.profile.name"
         description="%template.m2e.profile.description">
       <pattern>&lt;profile&gt;
   &lt;id&gt;m2e&lt;/id&gt;
   &lt;!-- This profile is only activated when building in Eclipse with m2e --&gt;
   &lt;activation&gt;
     &lt;property&gt;
       &lt;name&gt;m2e.version&lt;/name&gt;
     &lt;/property&gt;
   &lt;/activation&gt;
   ${cursor}
 &lt;/profile&gt;
       </pattern>
    </template>


    <template id="org.eclipse.m2e.editor.xml.templates.systemPath.tools.jar"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.systemPath"
         name="%template.tools2.name"
         description="%template.tools2.description">
      <pattern>$${java.home}/../lib/tools.jar</pattern>
    </template>
  </extension>

  <extension point="org.eclipse.ui.keywords">
    <keyword id="org.eclipse.m2e.maven" label="%keyword.label"/>
  </extension>

  <extension point="org.eclipse.ui.preferencePages">
    <page id="org.eclipse.m2e.editor.xml.preferences.PomTemplatesPreferencePage"
          category="org.eclipse.m2e.core.preferences.Maven2PreferencePage"
          class="org.eclipse.m2e.editor.xml.preferences.PomTemplatesPreferencePage"
          name="%page.name">
       <keywordReference id="org.eclipse.m2e.maven"/>
    </page>
  </extension>
  <extension
        point="org.eclipse.wst.sse.ui.completionProposal">
     <proposalCategory
           icon="icons/element_obj.gif"
           id="org.eclipse.m2e.editor.xml.proposals"
           name="Maven proposals">
     </proposalCategory>
     <proposalComputer
           activate="false"
           categoryId="org.eclipse.m2e.editor.xml.proposals"
           class="org.eclipse.m2e.editor.xml.PomContentAssistProcessor"
           id="org.eclipse.m2e.editor.xml.proposals">
        <contentType
              id="org.eclipse.m2e.core.pomFile">
        </contentType>
     </proposalComputer>
  </extension>
  <!--extension
        point="org.eclipse.wst.sse.ui.quickFixProcessor">
     <quickFixProcessor
           class="org.eclipse.m2e.editor.xml.PomQuickAssistProcessor"
           problemType="pomhint">
     </quickFixProcessor>
  </extension-->

</plugin>
