<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
          point="org.eclipse.pde.core.targetLocations">
       <targetLocation
             canUpdate="true"
             locationFactory="org.eclipse.m2e.pde.MavenTargetLocationFactory"
             type="Maven">
       </targetLocation>
    </extension>
</plugin>
