<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2008 Sonatype, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
-->
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="pageFactories" name="%extension-point.pageFactory.name" schema="schema/pageFactories.exsd"/>
   <extension-point id="org.eclipse.m2e.editor.plugins.configurationEditorContribution" name="%extension-point.pluginConfiguration.name" schema="schema/configurationEditorContribution.exsd"/>

  <extension point="org.eclipse.ui.editors">
    <editor
          class="org.eclipse.m2e.editor.pom.MavenPomEditor"
          contributorClass="org.eclipse.m2e.editor.pom.MavenPomEditorContributor"
          default="true"
          extensions="pom"
          filenames="pom.xml"
          icon="icons/editor-pom.gif"
          id="org.eclipse.m2e.editor.MavenPomEditor"
          name="%editor.name">
       <contentTypeBinding contentTypeId="org.eclipse.m2e.core.pomFile"/> 
    </editor>
  </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution id="org.eclipse.m2e.classpathMenuWrapper.showDependencyHierarchy"
           objectClass="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer$RequiredProjectWrapper"
                          adaptable="true">
         <action id="org.eclipse.m2e.ShowDependencyHierarchy"
                 class="org.eclipse.m2e.editor.internal.actions.ShowDependencyHierarchyAction"
                 label="%m2.popup.showHieararchy"
                 style="push"
                 menubarPath="org.eclipse.m2e.classpathMenuWrapper/open"
                 enablesFor="+"/>
         <enablement>
	     	<test property="org.eclipse.m2e.hasProjectArtifactKey"/>
         </enablement>
      </objectContribution>
      <objectContribution id="org.eclipse.m2e.classpathMenu.showDependencyHierarchy"
                          objectClass="org.eclipse.jdt.core.IPackageFragmentRoot"
                          adaptable="true">
         <action id="org.eclipse.m2e.ShowDependencyHierarchy"
                 class="org.eclipse.m2e.editor.internal.actions.ShowDependencyHierarchyAction"
                 label="%m2.popup.showHieararchy"
                 style="push"
                 menubarPath="org.eclipse.m2e.classpathMenu/open"
                 enablesFor="+"/>
         <enablement>
	     	<test property="org.eclipse.m2e.hasProjectArtifactKey"/>
         </enablement>
      </objectContribution>
   </extension>
</plugin>
