<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="m2e-target-platform">
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/eclipse/updates/4.33/"/>
			<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ui.tests.harness" version="0.0.0"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
			<unit id="org.mockito.mockito-core" version="0.0.0"/>
			<unit id="jakarta.inject.jakarta.inject-api" version="1.0.5"/>
			<unit id="jakarta.annotation-api" version="1.3.5"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/2024-12/"/>
			<unit id="org.jdom2" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/egit/updates-7.1/"/>
			<unit id="org.eclipse.jgit" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.40.0"/>
			<unit id="org.eclipse.emf.edit.ui.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.ecore.edit.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/webtools/downloads/drops/R3.35.0/R-3.35.0-20240825085431/repository/"/>
			<unit id="org.eclipse.wst.common.uriresolver" version="0.0.0"/>
			<unit id="org.eclipse.wst.common.emf" version="0.0.0"/>
			<unit id="org.eclipse.wst.xsd.core" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/wildwebdeveloper/releases/1.3.9/"/>
			<repository location="https://download.eclipse.org/tm4e/releases/0.14.0/"/>
			<repository location="https://download.eclipse.org/lsp4e/releases/0.26.6/"/>
			<repository location="https://download.eclipse.org/lsp4j/updates/releases/0.23.1/"/>
			<repository location="https://download.eclipse.org/mylyn/updates/release/4.5.0/"/>
			<unit id="org.eclipse.wildwebdeveloper.xml.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.lsp4e" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/cbi/updates/license/"/>
			<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/technology/swtbot/releases/4.2.1/"/>
			<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
		</location>
		<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" label="Logging" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>ch.qos.logback</groupId>
					<artifactId>logback-classic</artifactId>
					<version>1.5.12</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache.aries.spifly</groupId>
					<artifactId>org.apache.aries.spifly.dynamic.bundle</artifactId>
					<version>1.3.7</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Misc" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.google.code.gson</groupId>
					<artifactId>gson</artifactId>
					<version>2.11.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.google.guava</groupId>
					<artifactId>failureaccess</artifactId>
					<version>1.0.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.google.guava</groupId>
					<artifactId>guava</artifactId>
					<version>33.3.1-jre</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>commons-cli</groupId>
					<artifactId>commons-cli</artifactId>
					<version>1.9.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>commons-codec</groupId>
					<artifactId>commons-codec</artifactId>
					<version>1.17.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache.commons</groupId>
					<artifactId>commons-lang3</artifactId>
					<version>3.17.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="false" label="M2E Workspace CLI" missingManifest="error" type="Maven">
			<!-- Dedicated location to *NOT* include sources -->
			<dependencies>
				<dependency>
					<groupId>io.takari.m2e.workspace</groupId>
					<artifactId>org.eclipse.m2e.workspace.cli</artifactId>
					<version>0.3.1</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Maven-archetype Common" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.apache.maven.archetype</groupId>
					<artifactId>archetype-common</artifactId>
					<version>3.2.1</version>
					<type>jar</type>
				</dependency>
			</dependencies>
			<instructions><![CDATA[
Bundle-Name:           M2Eclipse's ${mvnArtifactId}
version:               ${version_cleanup;${mvnVersion}}
Bundle-SymbolicName:   org.eclipse.m2e.archetype.common
# Change the following value to '${version}' once the next minor version of archetype is availble
Bundle-Version:        ${versionmask;==;${version}}.104
Bundle-Vendor: 	       Eclipse.org - m2e
Eclipse-ExtensibleAPI: true
Export-Package:        META-INF.plexus;-noimport:=true;x-internal:=true, \
                       org.apache.maven.archetype.*;provider=m2e;mandatory:=provider;version="${version}";x-friends:="org.eclipse.m2e.core.ui"
Require-Bundle:        org.eclipse.m2e.maven.runtime;bundle-version="[3.8.0,4.0.0)",com.ibm.icu
Import-Package:        org.jdom2*
]]></instructions>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Maven-archetype" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.apache.maven.archetype</groupId>
					<artifactId>archetype-catalog</artifactId>
					<version>3.2.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache.maven.archetype</groupId>
					<artifactId>archetype-descriptor</artifactId>
					<version>3.2.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache.maven.shared</groupId>
					<artifactId>maven-artifact-transfer</artifactId>
					<version>0.13.1</version>
					<type>jar</type>
				</dependency>
			</dependencies>
			<instructions><![CDATA[
Bundle-Name:           M2Eclipse's ${mvnArtifactId}
version:               ${version_cleanup;${mvnVersion}}
Bundle-SymbolicName:   org.eclipse.m2e.archetype.${replacestring;${mvnArtifactId};archetype-}
# Change the following value to '${version}' once the next minor version of archetype is availble
Bundle-Version:        ${version}.2
Bundle-Vendor: 	       Eclipse.org - m2e
Fragment-Host:         org.eclipse.m2e.archetype.common;bundle-version="${range;[===,+);3.2.104}"
Export-Package:        org.apache.maven.*;-noimport:=true;provider=m2e;mandatory:=provider;version="${version}";x-friends:="org.eclipse.m2e.core.ui"
Import-Package:        !*
]]></instructions>
		</location>
		<location type="Target" uri="file:${project_loc:/m2e-core}/target-platform/m2e-runtimes.target"/>
	</locations>
</target>
