<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="m2e-target-platform">
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/eclipse/updates/4.26/"/><!--Keep in sync with repo-ref in org.eclipse.m2e.repository/category.xml-->
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2022-12/"/>
			<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ui.tests.harness" version="0.0.0"/>
			<unit id="org.mockito.mockito-core" version="0.0.0"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/egit/updates-6.4/"/>
			<unit id="org.eclipse.jgit" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.32"/>
			<unit id="org.eclipse.emf.edit.ui.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.ecore.edit.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/webtools/downloads/drops/R3.28.0/R-3.28.0-20221120050827/repository/"/>
			<unit id="org.eclipse.wst.common.uriresolver" version="0.0.0"/>
			<unit id="org.eclipse.wst.common.emf" version="0.0.0"/>
			<unit id="org.eclipse.wst.xsd.core" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/wildwebdeveloper/releases/1.0.1/"/><!--Keep in sync with repo-ref in org.eclipse.m2e.repository/category.xml-->
			<unit id="org.eclipse.wildwebdeveloper.xml.feature.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/lsp4e/releases/0.21.0/"/><!--Keep in sync with repo-ref in org.eclipse.m2e.repository/category.xml-->
			<unit id="org.eclipse.lsp4e" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/cbi/updates/license/"/>
			<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="OSGi" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>biz.aQute.bnd</groupId>
					<artifactId>biz.aQute.bnd.util</artifactId>
					<version>6.4.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>biz.aQute.bnd</groupId>
					<artifactId>biz.aQute.bndlib</artifactId>
					<version>6.4.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.osgi</groupId>
					<artifactId>org.osgi.service.repository</artifactId>
					<version>1.1.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" label="Logging" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>ch.qos.logback</groupId>
					<artifactId>logback-classic</artifactId>
					<version>1.4.5</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.slf4j</groupId>
					<artifactId>slf4j-api</artifactId>
					<version>1.7.36</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Misc" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.google.code.gson</groupId>
					<artifactId>gson</artifactId>
					<version>2.10</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.google.guava</groupId>
					<artifactId>failureaccess</artifactId>
					<version>1.0.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.google.guava</groupId>
					<artifactId>guava</artifactId>
					<version>31.1-jre</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>io.takari.m2e.workspace</groupId>
					<artifactId>org.eclipse.m2e.workspace.cli</artifactId>
					<version>0.4.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>
