# This workflow will build the m2e project with Maven

name: Build M2Eclipse
on:
  push:
    branches: 
      - 'master'
  pull_request:
    branches: 
     - 'master'

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 45

    steps:
    - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      with:
        fetch-depth: 0
        submodules: true
    - uses: actions/setup-java@b36c23c0d998641eff861008f374ee103c25ac73 # v4.4.0
      with:
        java-version: |
          17
          21
        distribution: 'temurin'
    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.9
    - name: Cache local Maven repository
      uses: actions/cache@3624ceb22c1c5a301c8db4169662070a689d9ea8 # v4.1.1
      with:
        path: ~/.m2/repository
        # re-cache on changes in the pom and target files
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml', '**/*.target') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Build m2e-core
      uses: coactions/setup-xvfb@b6b4fcfb9f5a895edadc3bc76318fae0ac17c8b3 # v1.0.1
      with:
       run: >-
           mvn clean verify --batch-mode --threads 1C -Pits
           -Dtycho.p2.baselineMode=failCommon
           -Dmaven.test.failure.ignore=true
           -Dtycho.surefire.deleteWorkDir=true
    - name: Upload Test Results
      uses: actions/upload-artifact@604373da6381bf24206979c74d06a550515601b9 # v4.4.1
      with:
        name: test-results-${{ matrix.os }}
        if-no-files-found: warn
        path: |
          ${{ github.workspace }}/**/target/surefire-reports/*.xml
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@604373da6381bf24206979c74d06a550515601b9 # v4.4.1
      with:
        name: Event File
        path: ${{ github.event_path }}
