# This workflow will build the m2e project with Maven

name: Build M2Eclipse
on:
  push:
    branches: 
      - 'master'
  pull_request:
    branches: 
     - 'master'

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 45

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: true
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Cache local Maven repository
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        # re-cache on changes in the pom and target files
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml', '**/*.target') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Generated Meta data
      run: mvn generate-sources -f m2e-maven-runtime -B -V -Pgenerate-osgi-metadata -Dtycho.mode=maven
    - name: Build m2e-core
      uses: GabrielBB/xvfb-action@v1
      with:
       run: mvn clean verify -B -V -Pits -Dmaven.test.error.ignore=true -Dmaven.test.failure.ignore=true
    - name: Upload Test Results
      uses: actions/upload-artifact@v3
      with:
        name: test-results
        if-no-files-found: error
        path: |
          ${{ github.workspace }}/**/target/surefire-reports/*.xml
